@keyframes flapping {

    5%{
        transform: rotate(20deg);
    }
    7%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(-20deg);
    }
    13%{
        transform: rotate(0deg);
    }
    17%{
        transform: rotate(20deg);
    }
    20%{
        transform: rotate(0deg);
    }
    
    
}