body{
    padding: 0;
    margin: 0;
}

.list{
    padding: 0;
}


.subtitle{
    display: block;
}

small{
    display: block;
}

// .overlay{
    // background-image: url(../../assets/images/texture.jpg);
    // background-blend-mode: luminosity;
    // z-index: 1;
// }

p{
    margin: 0 0 $s-mob--small;
}



.title{
    margin: 0;

    &--bigger{
        margin-left: $s-mob--smaller;
        flex-grow: 0;
    }

    &--big{
        margin-top: $s-mob--big;
    }

    &--medium{
        padding: 0 0 $s-mob--small ;
    }

    &--small{
        padding: 0 0 $s-mob--smaller ;

    }

    &--smaller{
        padding: $s-mob--bigger/2 0 $s-mob--small/2;
    }

    &--smallest{
        padding: $s-mob--small 0 $s-mob--smaller;
    }
}



.list{
    margin: 0 0 0 $s-mob--small;
    
    .list__el{
        margin-bottom: $s-mob--medium;
    }
}


.section {
    padding: 0 $s-mob--big;

    &--what, &--lifestyle, &--footer{
        padding: $s-mob--bigger $s-mob--big;
    }

    &--main{
        padding: inherit;
        margin:  $s-mob--bigger 0 0;
    }

    &--header{
        margin-top: $s-mob--bigger;

        a{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            svg{
                flex-grow: 1;
                flex-shrink: 0;
            }
        }
    }

    &--footer{
        .title--small{
            padding: $s-mob--medium 0 $s-mob--smaller $s-mob--small;

        }

        .list{
            margin-left: $s-mob--small*2;


            .list__el{
                .subtitle{
                    margin: $s-mob--smaller/4 $s-mob--small 0;
                }
            }

            &--contact{
                text-indent: -$s-mob--small;
                margin-left: $s-mob--small*3;

                .list__el::before{
                    content: " ";
                    width: $s-mob--small;
                    height: $s-mob--small;
                    position: relative;
                    left: -$s-mob--small;
                    background-image: url(../../assets/images/smartphone--white.svg);
                    display: inline-block;
                    background-size: contain;
                    vertical-align: text-bottom;  
                }
        
                .list__el:nth-child(2)::before{
                    background-image: url(../../assets/images/mail--white.svg);
                }
            }
        
            &--social{

                display: flex;
                justify-content: center;
                // margin-left: auto;
                // margin-right: auto;
                border-top: 1px solid $c-white;
                padding: $s-mob--big 0;
                margin: $s-mob--bigger auto $s-mob--small;
            
                .list__el{
                    margin: 0 5%;
                }

                .img{
                    max-width: $s-mob--medium;
                    max-height: $s-mob--medium;   
                }

            
            }
        }
        
    }
}


a{
    svg{
        width: $s-mob--big*2;
        height: $s-mob--big*2;
    }
}

.footer-logo{
    display: flex;
    align-items: flex-start;

    svg{
        flex-grow: 1;
        flex-shrink: 0;
    }

    p{
        margin-left: $s-mob--smaller;
    }
}

.cta{
    padding: $s-mob--bigger $s-mob--big;

    p{
        margin-left: $s-mob--small;
    }

    a{
        display: block;
        padding: $s-mob--smaller 0;
    }
}

