body{
    padding: 0;
    margin: 0;

    &::after{
        content: " ";
        width: 100%;
        height: 100%;
        pointer-events: none;
        background-blend-mode: hard-light;
        mix-blend-mode: overlay;
        background-color: $c-black;
        opacity: 30%;
        position: absolute;
        top: 0;
        left: 0;
        background-attachment: fixed;
        background-position: 50% 50%;
        position: fixed;
        background-size: 100vw 100%;
        z-index: 1100;
        background-repeat: repeat;
        
        // Background photo created by efe_madrid - www.freepik.com
        
        background-image: url(../../assets/images/texture3-425.jpg);
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
        background-image: url(../../assets/images/texture3-425@2x.jpg);
        }


        @include tb{
            background-image: url(../../assets/images/texture3-768.jpg);
            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-image: url(../../assets/images/texture3-768@2x.jpg);
            }
        }

        @include lg{
            background-image: url(../../assets/images/texture3-1280.jpg);
            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-image: url(../../assets/images/texture3-1280@2x.jpg);
            }
        }

        @include xl{
            background-image: url(../../assets/images/texture3-1920.jpg);
            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-image: url(../../assets/images/texture3-1920@2x.jpg);
            }
        }
    }
}

.subtitle{
    display: block;
}



small{
    display: block;
}

p{
    margin: 0 0 $s-mob--small;
    max-width: 450px;

    @include tb{
        max-width: 500px;
        margin: 0 0 $s-tab--small;
    }

    @include lg{
        max-width: 550px;
    }
}

.title{
    margin: 0;
    max-width: 550px;

    &--bigger{
        margin-left: $s-mob--smallest/2;
        flex-grow: 0;

        @include tb{
            margin-left: $s-tab--small/2;
        }
        @include lg{
            margin-left: $s-desk--small;
        }
    }

    &--big{
        margin-top: $s-mob--big;

        
        @include tb{
            margin-top: $s-tab--small;
        }
        @include lg{
            margin-top: $s-desk--small;
        }
    }

    &--medium{
        padding: 0 0 $s-mob--small ;
        
        @include tb{
            padding: 0 0 $s-tab--small;
        }
        @include lg{
            padding: 0 0 $s-desk--small;
        }
    }

    &--small{
        padding: 0 0 $s-mob--smaller ;

        
        @include tb{
            padding: 0 0 $s-tab--smaller;
        }
        @include lg{
            padding: 0 0 $s-desk--smaller;
        }

    }

    &--smaller{
        padding: $s-mob--bigger/2 0 $s-mob--small/2;

        
        @include tb{
            padding: $s-tab--big/2 0 $s-tab--small/2;
        }
        @include lg{
            padding: $s-desk--bigger/2 0 $s-desk--small/2;
        }
    }

    &--smallest{
        padding: $s-mob--small 0 $s-mob--smaller;

        @include tb{
            padding: $s-tab--small 0 $s-tab--smaller;
        }
        @include lg{
            padding: $s-desk--small 0 $s-desk--smaller;
        }
    }
}

.list{
    padding: 0;
    margin: 0 0 0 $s-mob--small;

    @include tb{
        margin: 0 0 0 $s-tab--small;
    }
    @include lg{
        margin: 0 0 0 $s-desk--small;
    }
    
    .list__el{
        margin-bottom: $s-mob--medium;
    }
}

.section {
    margin-left: auto;
    margin-right: auto;
    padding: $s-mob--big $s-mob--big $s-mob--small;
            
            @include sm{
                padding: $s-mob--bigger $s-mob--bigger;
            }
            
            @include tb{
                padding: $s-tab--bigger;
                width: 70%;
            }
            
            @include lg{
                padding: $s-desk--bigger*2;
                width: 60%;
                max-width: 650px;
            }

    &--main{
        padding: inherit;
        margin: auto;
        max-width: inherit;
        width: inherit;
    }

    &--header{
        padding: $s-mob--bigger $s-mob--big $s-mob--big ;
        position: relative;

        @include tb{
            left: -$s-tab--big;
            padding: $s-tab--bigger 0 $s-tab--big 0;

        }

        @include lg{
            left: -$s-desk--big;
            padding: $s-desk--biggest 0 $s-desk--big 0;
        }

        a{
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            align-items: center;
            svg{
                flex-grow: 0;
                flex-shrink: 0;
            }
        }

        .img--big{
            width: 100%;
        }
    }

    &--what{
        @include tb{
            margin-bottom: $s-tab--big*3;
        }

        @include lg{
            margin-bottom: $s-desk--bigger*3;

        }
    }

    &--lifestyle{
        padding-top: 0;

        .title{
            @include tb{
                margin-top: -$s-tab--big;
            }

            @include lg{
                margin-top: -$s-desk--bigger;

            }
        }
    }

    &--lifecycle{
        padding-bottom: $s-mob--medium;
        padding-top: $s-mob--medium ;

        @include tb{
            padding-bottom: $s-tab--medium;
            padding-top: $s-tab--medium ;
        }

        @include lg{
            padding-bottom: $s-desk--medium;
            padding-top: $s-desk--medium ;
        }
    }
    &--footer{
        padding: $s-mob--big $s-mob--big $s-mob--small;
        width: inherit;
        max-width: inherit;

        @include tb{
            padding: $s-mob--bigger 15%;
        }

        @include lg{
            padding: $s-mob--bigger 20%;
        }

        .title--small{
            padding: $s-mob--medium 0 $s-mob--smaller $s-mob--small;

            @include tb{
                padding: $s-tab--medium 0 $s-tab--smaller ;
            }
            @include lg{
                padding: $s-desk--medium 0 $s-desk--smaller ;
            }
        }

        .footer-lists{
            
            @include tb{       
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                margin-left: auto;
                margin-right: auto;
                justify-content: space-between;
                align-items: flex-start;
                
                .list-container{
                    width: 40%;
                    flex-grow: 1;
                    
                    &:nth-child(2){
                        flex-grow: 0;
                    }

                    &:nth-child(3){
                        width: 100%;
                    }
                }
            }
        }

        .list{
            margin-left: $s-mob--small*2;
   
            @include tb{
                margin-left: $s-tab--small;
            }
            @include lg{
                margin-left: $s-desk--small;
            }

            .list__el{
                .subtitle{
                    margin: $s-mob--smaller/4 $s-mob--small 0;     
                    @include tb{
                        margin: $s-tab--smaller/3 $s-tab--small 0;
                    }
                    @include lg{
                        margin: $s-desk--smaller/3 $s-tab--small 0;
                    }
                }
            }

            &--contributors{
                .list__el {
                    a:hover{
                        box-shadow: inset 0 50px 0 0 $c-white;
                        color: $c-black;

                        .subtitle{
                            box-shadow: inset 200px 0 0 0 $c-white;

                            @include tb{
                                box-shadow: inset 250px 0 0 0 $c-white;

                            }

                            @include lg{
                                box-shadow: inset 200px 0 0 0 $c-white;
                            }

                        }
                    }

                    a {
                        box-shadow: inset 0 0 0 0.01px $c-white;
                        transition: 300ms cubic-bezier(0.2, 0.68, 0.45, 1);

                        .subtitle{
                            display: block;
                            transition: 300ms cubic-bezier(0.2, 0.68, 0.45, 1);
                            box-shadow: inset 0 0 0 0.01px $c-white;
                        }
                    }
                }
            }

            &--contact{
                text-indent: -$s-mob--small;
                margin-left: $s-mob--small*3;

                @include tb{
                    text-indent: -$s-tab--small;
                    margin-left: $s-tab--small*3;
                }
                @include lg{
                    text-indent: -$s-desk--small;
                    margin-left: $s-desk--small*3;
                }



                .list__el::before{
                    content: " ";
                    width: $s-mob--small;
                    height: $s-mob--small;
                    position: relative;
                    left: -$s-mob--small;
                    background-image: url(../../assets/images/smartphone--white.svg);
                    display: inline-block;
                    background-size: contain;
                    vertical-align: text-bottom;

                    @include tb{
                        width: $s-tab--small;
                        height: $s-tab--small;
                        left: -$s-tab--small;
                    }
                    @include lg{
                        width: $s-desk--small;
                        height: $s-desk--small;
                        left: -$s-desk--small;
                    }
                }
        
                .list__el:nth-child(2)::before{
                    background-image: url(../../assets/images/mail--white.svg);
                }
            }
        
            &--social{
                display: flex;
                justify-content: center;
                max-width: 250px;
                border-top: 1px solid $c-white;
                padding: $s-mob--small 0 0;
                margin: $s-mob--bigger auto $s-mob--small;
                        
                @include tb{
                    padding: $s-tab--small 0 0;
                    margin: $s-tab--bigger auto $s-mob--small;
                }
                @include lg{
                    padding: $s-desk--small 0 0;
                    margin: $s-desk--bigger auto $s-desk--small;
                }
                
                .list__el{
                    margin: 0 5%;
                    transition: 300ms;
                    animation-timing-function: cubic-bezier(0.2, 0.68, 0.45, 1);

                    @include tb{
                        margin: 0 10%;
                    }

                    &:hover{
                        transform: scale(1.2);
                    }
                }

                .img{
                    max-width: $s-mob--medium;
                    max-height: $s-mob--medium;  

                    @include tb{
                        max-width: $s-tab--medium;
                        max-height: $s-tab--medium;
                    }
                    @include lg{
                        max-width: $s-desk--medium;
                        max-height: $s-desk--medium;
                    }
                }
            }
        }  
    }
}

a{
    svg{
        width: $s-mob--big*2;
        height: $s-mob--big*2;
        
        @include tb{
            width: $s-tab--big*2;
            height: $s-tab--big*2;
        }
        @include lg{
            width: $s-desk--big*2;
            height: $s-desk--big*2;
        }

        .ear{
            transform-origin: bottom;
            transform-box: fill-box;        
        }
        
        &:hover .ear{
            animation: flapping 1.5s cubic-bezier(0, 0.55, 0.45, 1);

            &--right{
            animation-delay: 20ms;

            }
        }
    }
}

.footer-logo{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    svg{
        flex-grow: 0;
        flex-shrink: 0;
        align-self: flex-start;
        justify-self: flex-start;
    }

    p{
        margin-left: $s-mob--smaller;
        @include tb{
            margin-left: $s-tab--smaller;
        }
        @include lg{
            margin-left: $s-desk--smaller;
        }
    }
}

.cta{
    padding: $s-mob--bigger $s-mob--big;
    margin: $s-mob--big auto $s-mob--bigger;

    @include tb{
        max-width: 550px;
        padding: $s-tab--big $s-tab--big;
    }

    @include lg{
        padding: $s-desk--bigger $s-desk--big;
    }

    p{
        margin-left: $s-mob--small;
        @include tb{
            margin-left: $s-tab--small;
        }
        @include lg{
            margin: $s-desk--small;
        }
    }

    a{
        display: block;
        padding: $s-mob--smaller 0;
        transition: 400ms cubic-bezier(0, 0.55, 0.45, 1);
        max-width: 550px;
        box-shadow: inset 0 0 0 0.01px $c-yellow--dark;
        @include tb{
            padding: $s-tab--smaller 0;
        }
        @include lg{
            padding: $s-desk--smaller 0;
        }

        &:hover{
            color: $c-black;
            box-shadow: inset 0 120px 0 0 $c-yellow--dark;
        }
    }
}

.img{
    width: 100%;
    height: 100%;
    max-width: 550px;
    margin: $s-mob--medium 0;

    @include tb{
        margin: $s-tab--medium 0;
    }

    @include lg{
        margin: $s-desk--medium 0;
    }

    &-big{
        width: calc(100% + 1.728em*2);
        margin: 0;
        margin-left: -$s-mob--big;

        max-width: unset;
        // faudra changer la valeur à chaque fois

        
        @include sm{
            width: calc(100% + 2.986em*2);
            margin: 0;
            margin-left: -$s-mob--bigger;
        }

        @include tb{
            width: calc(100% + 4.624em*2);

            margin-left: -$s-tab--bigger;
        }

        @include lg{
            width: calc(100% + 3.052em * 4);
            max-width: unset;
            margin-left: -$s-desk--bigger*2;

        }

        &--header{
            display: block;
            margin-right: auto;

            @include lg{
                max-width: 600px;
                margin-left: 0;
            }
        }

        &--lifecycle{
            margin: 0;
            width: 100%;
            max-width: 650px;
        }

        &--trans{
            position: relative;

            @include tb{
                top: -$s-tab--big*3;
            }

            @include lg{
                top: -$s-desk--bigger*3;
            }
        }
    }

    &-container{
        padding: 0;
        margin: 0 auto;

        @include tb{
            margin: $s-tab--bigger auto 0;
        }

        @include lg{
            margin: $s-desk--biggest auto 0;
        }


        .img{
            max-width: 650px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }

}