body{
    font-family: 'Zilla Slab', serif;
    line-height: 160%;
}

a{
    text-decoration: none;
}


.title{
    font-family: 'Work Sans', sans-serif;
    
    &--bigger{
        font-size: $s-mob--big;
        text-transform: uppercase;
        @include tb{}
        @include lg{
            font-size: $s-desk--mediumer;
        }
    }

    &--big{
        font-size: $s-mob--small;
        font-family: 'Zilla Slab', serif;
        font-weight: 100;

        @include tb{}
        @include lg{
            font-size: $s-desk--small;

        }

    }

    &--medium{
        font-size: $s-mob--medium;
        font-weight: 100;
        font-variant: small-caps;
        letter-spacing: 2px;
        @include tb{}
        @include lg{
            font-size: $s-desk--mediumer;
        }
    }

    &--small{
        font-family: 'Zilla Slab', serif;
        font-size: $s-mob--small;
        line-height: 180%;

        .subtitle{
            font-size: $s-mob--smallest;
        }

        @include tb{}
        @include lg{
            font-size: $s-desk--bigger;
        }

    }

    &--smaller{
        font-size: $s-mob--big;
        font-variant: small-caps;
        font-weight: 700;

        @include tb{}
        @include lg{
            font-size: $s-desk--big;
        }
    }

    &--smallest{
        font-size: $s-mob--small;        
        font-family: 'Zilla Slab', serif;
        font-weight: 600;

        @include tb{}
        @include lg{
            font-size: $s-desk--mediumer;
        }
    }
}

.subtitle{
    font-weight: 300;
}

p{
    font-size: $s-mob--small;
    font-weight: 300;

    line-height: 160%;
    @include tb{}
    @include lg{
        font-size: $s-desk--medium;
    }
}


.section{   
    &--footer{
        .title--small{
            font-family: 'Work Sans', sans-serif;
            font-variant: small-caps;
        }

        .list{
            .list__el{
                font-family: 'Work Sans', sans-serif;   
                
                .subtitle{
                    font-family: 'Zilla Slab', serif;
                }
            }
        }
    }
}


.cta{
    font-weight: 400;

    .list{
        font-weight: 600;
        font-size: $s-mob--small;        
        @include tb{}
        @include lg{
            font-size: $s-desk--medium;
        }

        .list__el::before{
            content: "–\00A0";
            display: inline-block;
        }
    }

    a{
        font-family: 'Work Sans', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        font-size: $s-mob--big;
    }
}


small{
    text-align: center;
    font-family: 'Work Sans', sans-serif;   
    font-size: $s-mob--smallest;  

    @include tb{}
    @include lg{
        font-size: $s-desk--smaller;
    }
}