
$c-red: #BF0D3E;
$c-green: #4FB05E;
$c-yellow: #FFE34F;
$c-blue: #00205B;
$c-white: #F8F8F8;
$c-black: #1B1B1B;



$s-mob--bigger: 3.583em;
$s-mob--big: 1.728em;
$s-mob--medium: 1.44em;
$s-mob--small: 1.2em;
$s-mob--smaller: 1em;
$s-mob--smallest: 0.694em;

$s-tab--bigger: 4.624em;
$s-tab--big: 2.281em;
$s-tab--medium: 1.602em;
$s-tab--small: 1.266em;
$s-tab--smaller: 1.125em;
$s-tab--smallest: 0.79em;


$s-desk--bigger: 4.768em;
$s-desk--big: 2.441em;
$s-desk--medium: 1.563em;
$s-desk--small: 1.25em;
$s-desk--smaller: 1em;
$s-desk--smallest: 0.8em;


//RwD
$screen-sm: 425px;

$screen-smx: 550px;

$screen-tb: 700px;

$screen-tbx: 900px;

$screen-lg: 1000px;

$screen-xl: 1400px;

$screen-xxl: 1900px;