
$c-white: #F8F8F8;
$c-black: #1B1B1B;
$c-red--medium:#AC0C39 ;
$c-red--bright:#F24071 ;
$c-red--brighter:#DD557A ;
$c-red--dark:#8F0A2E ;
$c-red--darker:#73263B ;
$c-green--medium:#4FB05E ;
$c-green--bright:#95D09E ;
$c-green--brighter:#A5C0A9 ;
$c-green--dark:#3F8D4B ;
$c-green--darker:#527A58 ;
$c-blue--medium:#00205B ;
$c-blue--bright:#27509B ;
$c-blue--brighter:#44587E ;
$c-blue--dark:#000E29 ;
$c-blue--darker:#041025 ;
$c-yellow--medium:#FFE34F ;
$c-yellow--bright:#FFEF99 ;
$c-yellow--brighter:#F0E4A8 ;
$c-yellow--dark:#FFDA1A ;
$c-yellow--darker:#E8CB30 ;
$c-sand:#F8F1E4 ;

$s-mob--bigger: 2.986em;
$s-mob--big: 1.728em;
$s-mob--medium: 1.44em;
$s-mob--small: 1.2em;
$s-mob--smaller: 1em;
$s-mob--smallest: 0.833em;

$s-tab--bigger: 4.624em;
$s-tab--big: 2.281em;
$s-tab--mediumer: 1.802em;
$s-tab--medium: 1.602em;
$s-tab--small: 1.266em;
$s-tab--smaller: 1.125em;
$s-tab--smallest: 0.79em;
 
$s-desk--biggest: 4.768em;
$s-desk--bigger: 3.052em;
$s-desk--big: 2.441em;
$s-desk--mediumer: 1.953em;
$s-desk--medium: 1.563em;
$s-desk--small: 1.25em;
$s-desk--smaller: 1em;
$s-desk--smallest: 0.8em;


//RwD
$screen-sm: 425px;

$screen-smx: 550px;

$screen-tb: 700px;

$screen-tbx: 900px;

$screen-lg: 1000px;

$screen-xl: 1400px;

$screen-xxl: 1900px;